<div>
	<h1>Articles</h1>
	{{#each articles}}
	<div>
		<a href="{{this.link}}" id="{{@index}}link" data-link="{{this.link}}">
			<h2 id="{{@index}}title" data-title="{{this.title}}">{{this.title}}</h2>
		</a>

		<button class="btn save-button" data-id="{{@index}}">Save Article</button>
	</div>
	<p id="{{@index}}desc" data-desc="{{this.desc}}">{{this.desc}}</p>
	<small id="{{@index}}pubDate" data-pubDate="{{this.pubDate}}">{{this.pubDate}}</small>
	{{/each}}
</div>